body {
  max-width: 460px;
  text-align: center;
  margin: 15% auto 0 auto;
  background: #212121;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #B6B6B6;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  font-weight: 300;
}

.name {
  color: #FFC107;
}

a {
  color: #2196F3;
  text-decoration: none;
  border-bottom: 1px dotted #2196F3;
}

a:hover {
  border-bottom: none;
}

.pure-button {
  margin: 0 .5em 0 .5em;
}
